/**************************************************
CSS: 			layout.css
Beschreibung: 	Erweitertes Layout neben Bootstrap
Autor:			Patrick Vogt, Dietmar Sach
Datum:			30.07.2013
MatrikelNr:		924789, 924738
***************************************************/
@CHARSET "UTF-8";

/* Schriftart Roboto von Google Fonts */
body {
	margin: 20px;
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

#content {
	margin-top: 60px;
}

#login-form .text {
	margin-bottom: 15px;
}

#login-form .submit {
	clear: left;
	width: 100%;
	height: 32px;
	font-size: 13px;
}

.hero-unit {
	z-index: 10;
}

/* Ballon-Bild neben der Headline um 35 Grad gedreht */
.balloons:before {
	float: right;
	content: url(../images/hp_balloons.png);
	transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	padding-left: 10px;
}

h1 {
	padding-bottom: 10px;
}

.alert {
	margin-top: 5px;
}

/* Abstand und breite der Karte und der Graphen */
.map_container {
	margin-top: 45px;
	width: 1025px;
}

/* Bildergalerie */
.div0 {
	float:left; 
	margin:10px 10px 60px 10px;
}